article {
  padding: 1.5rem;
}

.article_header {
  display: flex;
  flex-direction: column;
}

.article_title {
  order: 2;
}

.article_image {

}

.article_description {

}

.article_description > p {
  margin-block-start: 1.25rem;
  margin-block-end: 1.25rem;
}

.article_description > p:last-of-type {
  margin-block-end: 0;
}
@media (min-width: 1044px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "featured featured more-new"
                         "trending trending trending"
                         "hapening-now hapening-now hapening-now";
  }
  #section_featured {
    grid-area: featured;
  }
  #section_more_news {
    grid-area: more-new;
  }
  #section_trending {
    grid-area: trending;
  }
  #section_happening_now {
    grid-area: hapening-now;
  }
}
