#section_trending article {
  background-color: #fff;
}
@media (min-width: 768px) {
  #section_trending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
  }
  #section_trending header {
    grid-column-start: span 2;
  }
  #section_trending article:nth-of-type(1) {
    grid-column: 1;
  }
  #section_trending article:nth-of-type(2) {
    grid-column: 2;
  }
  #section_trending .article_swatch:nth-of-type(3) {
    display: none;
}
}
@media (min-width: 1044px) {
  #section_trending {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #section_trending {

  }
  #section_trending .article_swatch:nth-of-type(3) {
    display: block;
  }
    #section_trending .article_image {
      height: calc((100vw - 3rem) / 6);
}
}
