#section_trending article {
  background-color: #fff;
}
@media (min-width: 768px) {
  #section_trending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
  }
  #section_trending header {
    grid-column-start: span 2;
  }
  #section_trending article:nth-of-type(1) {
    grid-column: 1;
  }
  #section_trending article:nth-of-type(2) {
    grid-column: 2;
  }
  .article_image {
    width: 282px;
    height: 180px;
  }
}
